.fundoamarelo {
  background-color: yellow;
}

ol li:nth-of-type(even) {
  color: green;
}

ol li:nth-of-type(odd) {
  text-transform: uppercase;
}

.header {
  color: red;
}

.header em {
  border: 1px solid black;
  font-size: 40px;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

.primeiros {
  color: blue;
}

.java {
  background-color: pink;
}

ul:last-of-type li:hover {
  font-weight: bold;
}

.fundolaranja:hover {
  background-color: orange;
}

.fundoverde:hover {
  background-color: green;
}

.fundopreto:hover {
  background-color: black;
}

.fundoamareloh:hover{
  background-color: yellow;
}

.fundolverde:hover{
  background-color: lightgreen;
}