main, header, nav, ul ,section, article, p, aside, footer {
  border: solid 1px red;
}

body {
  background-color: black;
  color: white;
}

b {
  text-decoration: underline;
}

header,
.alinhamentomenu, .orgsubtitulo, .centralizandofooter {
  text-align: center;
}

.listadenavegacao {
  list-style-type: none;
  display: inline-block;
  width: 33%;
}

h4, .alinhamentop, .asidebar {
  text-align: center;
}

.alinhamentomenu {
  margin-bottom: 80px;
}

.primeirassection {
  width: 49.6%;
  display: inline-block;
  vertical-align: top;
  background-color: royalblue;
}

.tamanhoimg {
  width: 125px;
  float: right;
  border-radius: 50%;
}

.larguraartigo {
  width:85%;
}

.tamanhoolhos {
  float: right;
  border-radius: 50%;
}

.asidebar {
  display: inline-block;
  width: 13%;
  margin-right: 10 px;
  vertical-align: top;
  margin: 5;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 200px;
}

.inlinemain {
  display: inline-block;
}

.centralizandofooter {
  height: 200px;
}
.fundosec3 {
  background-color: lightgreen;
}
